@media only screen and (max-width: 1466px) {
	
	.row_padding_all {
		padding-left: 60px;
		padding-right: 60px;
	}
	
	.row_padding_left {
		padding-left:60px;
	}
	
	.row_padding_right {
		padding-right:60px;
	}
	
	.percentage-intro {
  		bottom: 50px;
	}
	
	header {
    	height: 100px;
	}
	
	#header-container {
		padding: 10px 60px;
	}
	
	.flexnav li {
    	padding: 20px;
	}
	
	footer {
    	height: 100px;
	}
	
	#footer-container {
    	padding: 0 60px;
		margin: 10px auto;
	}
	
	.socials-wrap:hover .socials-text {
		transform: translateY(20px) translateX(5px);
		-webkit-transform: translateY(20px) translateX(5px);		
	}
	
}


@media only screen and (max-width: 1024px) {
	
	.big-title{
		font-size: 9vw;
		line-height: 10vw;
	}
	
	.parallax-wrap {
		transform:none!important;
	}
	
	.parallax-element {
		transform:none!important;
	}
	
	.has-parallax figcaption {
		display:none;
	}
	
	.destroy {
		display:none;
	}
	
	.row_padding_left {
		padding-left: 0px;
	}
	
	.row_padding_right {
		padding-right: 0px;
	}
	
	.full.row_padding_left {
		padding-left: 40px;
	}
	
	.full.row_padding_right {
		padding-right: 40px;
	}
	
	.row_padding_all {
		padding-top: 4vw;
		padding-bottom: 4vw;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.full.row_padding_all {
		padding-top: 4vw;
		padding-bottom: 4vw;
		padding-left: 40px;
		padding-right: 40px;
	}	
	
	#magic-cursor {
		display:none;
	}
	
	.preloader-intro {
		font-size: 9vw;
		line-height: 10vw;
	}
	
	.percentage-intro {
  		bottom: 40px;
	}
	
	#header-container {
		padding: 10px 40px;
	}
	
	nav {
		height: 100vh;
		width: 100%;
		position: fixed;
		left: 0;
    	top: 0;		
		box-sizing: border-box;
		visibility: visible;
		pointer-events:none;
		opacity:0;
		padding:20px 0;	
	}
	
	nav.open {
		visibility:visible;
		pointer-events:initial;
	}
	
	.nav-height {
		position: relative;
		height: 100%;
		padding: 40px 0;
		width: 100%;
		box-sizing: border-box;
		overflow-y: auto;
	}
	
	.flexnav {
		padding: 0 20px;
    	max-height: 2000px;
		display: table;
		width: auto;
		margin: 0 auto;
		text-align:center;
		box-sizing:border-box;
		background: transparent;
		-webkit-transition: all 0.2s ease-in 0.6s;
		transition: all 0.2s ease-in 0.6s;
	}
	
	.flexnav.flexnav-show {
		-webkit-transition: all .3s ease-out 0.2s;
		transition: all .3s ease-out 0.2s;	
	}
	
	.flexnav.opacity {
		opacity: 1;
	}
	
	.flexnav li {
		padding:0;
		-webkit-transition: color .15s ease-out 0s;
		transition: color .15s ease-out 0s;	
	}
	
	.flexnav:hover li  {
		color:rgba(255,255,255,0.4)
	}
	
	.flexnav li:hover {
		color:rgba(255,255,255,1)
	}
	
	.flexnav li a, .flexnav li ul li a {
    	background: transparent;
	}
	
	.flexnav li a {
		font-weight:500;
		font-size: 9vw;
		line-height: 10vw;
		padding:0;
		border:none;
		-webkit-transition: all .1s ease-in-out 0s;
		transition: all .1s ease-in-out 0s;
	}
	
	.uppercase-text .flexnav > li > a {
		text-transform:uppercase;			
	}
	
	.flexnav li a {
		color:#000;
	}
	
	.invert-header .flexnav li a {
		color: #fff;
	}
	
	.flexnav:hover li a {
		opacity:0.3;
	}
	
	.flexnav li:hover a, .flexnav li a.active{
		opacity:1;
	}
	
	.flexnav .touch-button {
		width: 100%;
		display: block;
		height:10vw;
	}
	
	.flexnav li ul {
		margin-bottom:15px;
	}
	
	.flexnav li ul li a {
		padding: 8px 0 6px 0;
		font-weight: 500;
		text-transform:none;
		font-size: 14px;
		line-height: 14px;
		border-top: none;
		opacity:0.4;
		-webkit-text-stroke:none;
	}
	
	.uppercase-text .flexnav li ul li a {
		text-transform:uppercase;		
	}
	
	.flexnav li ul li:hover a, .flexnav li ul li a.active{
		opacity:1;
	}
	
	.flexnav:hover li ul li a {
		opacity:0.3;
	}
	
	.flexnav:hover li ul li a.active, .flexnav:hover li ul li:hover > a {
		opacity:1;
	}
	
	.flexnav ul li ul li a {
		background: transparent;
	}
	
	.flexnav li ul li ul li a {
		padding: 10px 40px;	
	}
	
	.flexnav li ul li .touch-button {
		height:30px;
	}
	
	.flexnav .touch-button .navicon {
		display:none;
	}
	
	#menu-burger span.touch-button {
		display:none;
	}
	
	.classic-menu .button-wrap.right.menu {
		display: block;
	}
	
	#footer-container {
    	padding: 0 40px;	
	}
	
	.copyright {
		text-align:center;
	}
	
	.socials-wrap {
		width: 240px;
		height: 40px;
		float:right;
		margin:0 auto;
		right:-10px;
		transform: translateX(0px) translateY(20px)!important;
		-webkit-transform: translateX(0px) translateY(20px)!important;
	}
	
	.socials-wrap:hover {
		transform: translateY(20px);
		-webkit-transform: translateY(20px);
	}
	
	.socials-icon, .socials-text {
		display:none;
	}
	
	.socials-wrap .socials {
		margin-top: 3px;
		text-align: right;
		transform: translateX(0px);
		-webkit-transform: translateX(0px);	
	}
	
	.socials-wrap .socials li {
		opacity: 1;
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
	}
	
	.socials-wrap:hover .socials li {
		opacity: 1;
		transform: translateY(0px)!important;
		-webkit-transform: translateY(0px)!important;
	}
	
	.socials li {
		margin-right: 10px;
		line-height: 30px;
		height: 30px;
		width: 30px;
		margin: 0 5px auto;
		display: inline-block;
		float: none;
	}
	
	.socials li a {
		height: 30px;
		width: 30px;
		line-height: 30px;
	}
	
}


@media only screen and (max-width: 767px) {
	
	h1{
		font-size:34px;
		line-height: 48px;
	}
	
	h2{
		font-size: 28px;
		line-height: 44px;
	}
	
	h3{
		font-size:24px;
		line-height: 36px;
		margin-left:-1px;
	}
	
	h4{
		font-size:20px;
		line-height: 30px;
		margin-left:-1px;	
	}
	
	h5{
		font-size:16px;
		line-height: 26px;
		margin-left:-1px;
	}
	
	h6{
		font-size:14px;
		line-height: 24px;
	}
	
	figcaption {
		background-color: rgba(0,0,0,0.3);
		bottom: 0px;
		font-size: 10px;
		padding: 5px 10px;
		right: 0px;
		border-radius: 0;
	}
	
	.text-aligh-right {
		text-align:left;
	}
	
	.one_half {
    	width: 100%!important;
	}
	
	.one_half {
    	padding-right: 0!important;
	}
	
	.one_half.last {
    	padding-left: 0!important;
	}

	.one_third {
		width: 100%!important;
		box-shadow: 2px 5px 2px #a89c8c;
	}	

	.one_fourth {
		width: 100%!important;
	}	

	.one_fifth {
		width: 100%!important;
	}	

	.one_sixth {
		width: 100%!important;
	}	

	.two_fifth {
		width: 100%!important;
	}	

	.two_fourth {
		width: 100%!important;
	}		

	.two_third {
		width: 100%!important;
	}	

	.three_fifth {
		width: 100%!important;
	}	

	.three_fourth {
		width: 100%!important;
	}	

	.four_fifth {
		width: 100%!important;
	}	

	.five_sixth {
		width: 100%!important;
	}	

	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
		margin-bottom: 20px!important;
		margin-right: 0%!important;
	}
	
	.row_padding_top {
		padding-top:10vw;
	}
	
	.row_padding_bottom {
		padding-bottom:10vw;
	}
	
	.row_padding_left {
		padding-left: 0px;
	}
	
	.row_padding_right {
		padding-right: 0px;
	}
	
	.full.row_padding_left {
		padding-left: 30px;
	}
	
	.full.row_padding_right {
		padding-right: 30px;
	}
	
	.row_padding_all {
		padding-top: 4vw;
		padding-bottom: 4vw;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.full.row_padding_all {
		padding-top: 4vw;
		padding-bottom: 4vw;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	hr {
		height: 20px;
	}
	
	.percentage-intro {
  		bottom: 30px;
	}
	
	header {
		height:80px;
	}
	
	#header-container {
    	padding: 0;
		margin: 0 auto;
	}
	
	#logo {
		left: 30px;
	}
	
	.button-wrap.right.menu {
		right: 4px;
	}
	
	.button-wrap.right.menu.burger-lines {
		right: 0px;
	}
	
	header .button-text {
		display: none;
	}
	
	.flexnav li a {
		font-size: calc(1rem + 7vw);
		line-height: calc(1rem + 9.5vw);
	}
	
	footer {
		height: 80px;
	}
	
	.footer-button-wrap {
    	bottom: 80px;
	}
	
	#footer-container {
		height: 80px;
		padding: 0 30px;
		margin:0;
	}
	
	#footer-container #backtotop.button-wrap.left {
		float: none;
		top:5px;
		left: 0;
		right: 0;
		position: absolute;
		display:block;
	}
	
	#backtotop.button-wrap.left .button-text {
		text-align: left;
		float: left;
		display: none;
	}
	
	#backtotop.button-wrap.left .icon-wrap {
		float: none;
		position: absolute;
		right: auto;
		left: 0;
		margin: auto;
		top: 0px;
		opacity:0.4;
		-webkit-transition: opacity 0.2s ease-out 0s;
		transition: opacity 0.2s ease-out 0s;
	}
	
	#backtotop.button-wrap.left:hover .icon-wrap {
		opacity:1;
	}
	
	.footer-middle {
		max-width: 1180px;
		height:20px;
		position: relative;
		margin: 0 auto;
		left: 0;
		width: 100%;
		top: 0px;
		margin-bottom: 15px;
	}
	
	.copyright {
		margin: 0 auto;
		left: auto;
		right: auto;
		top: 0;
		height: 20px;
		line-height: 20px;
	}
	
	footer.showcase-footer .arrows-wrap {
		right: auto;
		left: -30px;
		float: left;
		margin: auto;
	}
	
	.socials-wrap {
		width: auto;
		float: none;
		display: table;
		left: auto;
		right: auto;
		top: 0;
		margin: 0 auto;		
		height: 20px;
		line-height: 20px;
		transform: translateX(0px) translateY(0px)!important;
		-webkit-transform: translateX(0px) translateY(0px)!important;
	}
	
	.socials-wrap .socials {
		text-align: center;
		margin: 0 auto;
		height: 20px;
		line-height: 20px;
		display: table;
		width: auto;
	}
	
	.socials li, .socials li a {
		height: 20px;
		line-height: 20px;
		margin: 0 auto;
	}
	.column {
		float: left;
		width: 20%;
		box-shadow: 1px 4px 1px rgb(92, 121, 150);
		padding: 0 2px 0 2px;
		margin: 0 10 0 10px;
	 }
}


@media only screen and (max-width: 479px) {	
	
	.row_padding_top {
		padding-top:12vw;
	}
	
	.row_padding_bottom {
		padding-bottom:12vw;
	}
		
	.row_padding_left {
		padding-left: 0px;
	}
	
	.row_padding_right {
		padding-right: 0px;
	}
	
	.full.row_padding_left {
		padding-left: 20px;
	}
	
	.full.row_padding_right {
		padding-right: 20px;
	}
	
	.row_padding_all {
		padding-top: 4vw;
		padding-bottom: 4vw;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.full.row_padding_all {
		padding-top: 4vw;
		padding-bottom: 4vw;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	hr {
		height: 10px;
	}
	
	.percentage-wrapper {
		top:-3px;
	}
	
	#logo {
		left: 20px;
	}
	
	.button-wrap.right.menu {
		right: -6px;
	}
	
	.button-wrap.right.menu.burger-lines {
		right: -10px;
	}
	
	#footer-container {
		padding: 0px;
		margin:0;
	}
	
	footer.showcase-footer #footer-container {
		padding: 0px 20px;
	}
	
	.arrows-wrap {
		left: -10px;
		width: 80px;
	}
	
	.prev-wrap, .next-wrap {
    	width: 40px;
	}
	
	footer.showcase-footer .arrows-wrap {
		right: 0;
		left: 0;
		float: none;
		margin: auto;
	}
	
	footer.showcase-footer .arrows-wrap {
		width: 100%;
	}
	
	footer.showcase-footer .prev-wrap, footer.showcase-footer .next-wrap {
    	width: 60px;
	}
	
	footer.showcase-footer .footer-middle {
		top: 0px;
	}
	
	footer.showcase-footer .showcase-subtitles-wrap {
		left: 0;
	}
	
	footer.showcase-footer .socials-wrap {
		display:none;
	}
	
	.button-text {
		display:none;
	}
	
	#main-page-content .button-text, #hero .button-text {
		display:block;
	}

}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    
	#rotate-device {
		display:block;
	}
}